
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>hi</h1>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'reset_password.css' %}"/>-->
</head>
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon.ico'">

<body>
    <!--<div class="form-group">
                <a href="/" aria-label="lock"><i class="fas fa-lock" style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(247deg) brightness(104%) contrast(103%);"></i></a>
                <img src="../static/nature1.jpeg" class="fill-white" ></img>
                <svg href="{% static 'lock-fill.svg' %}" class="fill-white" style="width:20px;"></svg>

                <a class="imge" style="width: 30px;"><img src="../static/person.svg" class="fill-white" ></img></a>
                <input type="password" placeholder="Password" name="password" class="form-control" required="required"/>
                <a><img src="{% static 'nature1.jpeg' %}" alt="Home Page" class="header-logo"></a>
    </div> -->
</body>
</html>